.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  margin-bottom: 30px;
  gap: 20px;
  border-radius: 10px;

  background: #ecf0f3;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
}

.btnForm {
  margin: 0 auto;
  width: 150px;
  border: none;
  background: #ecf0f3;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.field {
  width: 100%;
  padding: 10px;
  border: none;
  outline-style: none;
  font-size: 16px;
  border-radius: 5px;

  background: #ecf0f3;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
